<a href="https://colab.research.google.com/github/s375301/python-algorithm-interview/blob/main/5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Leetcode 49. Group Anagrams

#### *input*
```py
["eat", "tea", "tan", "ate", "nat", "bat"]
```
#### *output*
```py
[
  ["ate, "eat", "tea"],
  ["nat", "tan"],
  ["bat"]
]
```

In [21]:
import collections
anagrams = collections.defaultdict(list) # defaultfactory 인자를 list로 선언하여 입력값을 리스트로 받는다.
anagrams['key'].append('value')
anagrams

defaultdict(list, {'key': ['value']})

In [22]:
anagrams = collections.defaultdict(list)

for word in ["eat", "tea", "tan", "ate", "nat", "bat"]:
    # 문자열을 리스트로 만들어준다.
    print(sorted(word))

    # sorted(word) 값을 key로 만들기 위해 다시 join() 함수로 합친다.
    print(''.join(sorted(word)))
    
    # key 타입인 문자열(string) 형식임을 알 수 있다.
    print(type(''.join(sorted(word))))

    # key 값에 맞는 value를 append 해준다.
    anagrams[''.join(sorted(word))].append(word)
    print(anagrams)
    print("\n")

['a', 'e', 't']
aet
<class 'str'>
defaultdict(<class 'list'>, {'aet': ['eat']})


['a', 'e', 't']
aet
<class 'str'>
defaultdict(<class 'list'>, {'aet': ['eat', 'tea']})


['a', 'n', 't']
ant
<class 'str'>
defaultdict(<class 'list'>, {'aet': ['eat', 'tea'], 'ant': ['tan']})


['a', 'e', 't']
aet
<class 'str'>
defaultdict(<class 'list'>, {'aet': ['eat', 'tea', 'ate'], 'ant': ['tan']})


['a', 'n', 't']
ant
<class 'str'>
defaultdict(<class 'list'>, {'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat']})


['a', 'b', 't']
abt
<class 'str'>
defaultdict(<class 'list'>, {'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']})

In [4]:
class Solution:
    def groupAnagrams(self, strs: list) -> list:
        anagrams = collections.defaultdict(list)

        for word in strs:
            # 정렬하여 딕셔너리에 추가
            anagrams[''.join(sorted(word))].append(word)
        return list(anagrams.values())

solution = Solution()
test_case: list = ["eat", "tea", "tan", "ate", "nat", "bat"]
result: list = solution.groupAnagrams(test_case)
result

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [23]:
# 그 외 : 여러 가지 정렬 방법

In [30]:
# sorted() 함수를 이용한 파이썬 리스트를 정렬하는 예시
a = [2, 5, 1, 9, 7 ]
sorted(a)

[1, 2, 5, 7, 9]

In [26]:
# sorted() 함수는 파이썬 리스트뿐만 아니라 문자도 정렬이 가능하다.
b = 'zbdaf'
sorted(b)

['a', 'b', 'd', 'f', 'z']

In [27]:
# 대신 결과는 항상 '리스트'다.

In [28]:
# 결과인 리스트를 다시 문자열로 결합하기 위해 join() 함수를 이용한다.
''.join(sorted(b))

'abdfz'

In [31]:
# 반면 sort() 메소드는 리스트 자체를 정렬한다. 이를 제자리 정렬(in-place sort)라고 부른다.
print(a)
a.sort()
print(a)

[2, 5, 1, 9, 7]
[1, 2, 5, 7, 9]

In [32]:
# 일반적으로 제자리 정렬 알고리즘은 입력을 출력으로 덮어씌우며, 리턴값은 없다. (return None)

In [33]:
# sorted()는 key= 옵션으로 정렬을 위한 함수를 별도로 지정할 수 있다.
c = ['ccc', 'aaaa', 'd', 'b']

# 길이를 구하는 len()함수를 key= 옵션으로 하는 경우
sorted(c, key=len)

['d', 'b', 'ccc', 'aaaa']

In [34]:
# 첫 문자열과 마지막 문자열 순으로 정렬하는 경우
d = ['cde', 'cfc', 'abc']

def fn(s):
    return s[0], s[-1]

print(sorted(d, key=fn))

['abc', 'cfc', 'cde']

In [35]:
# 두번째 키로 마지막 문자열을 보게했기 때문에 abc, cde, cfc 순이 아니라 abc, cfc, cde 순으로 출력된다.

In [40]:
# 람다를 이용하여 한줄로 줄이기
d = ['cde', 'cfc', 'abc']
print(sorted(d, key=lambda x: (x[0], x[-1]))) # x[0], x[-1]는 반드시 소괄호()로 감싸서 return 값을 명확히 해준다.

['abc', 'cfc', 'cde']